/**********GLOBAL***********/

.container {
    width: 90%;
    margin: 0 auto;
}

body {
    font-family: "Helvetica Neue";
    background: #f0f0f0;
    letter-spacing: .1em;
    font-weight: 200;
}

/**********HEADER***********/

header {
    width: 100%;
    background: black;
    color: white;
}

header section {
    height: 70px;
    position: relative;
}

header section h1{
    position: absolute;
    top: 18px;
    font-size: 2em;
    left: 0;
    display: block;
    font-weight: 200;
    letter-spacing: 3px;
}

header section nav {
    position: absolute;
    top: 25px;
    right: 0;
}

header section nav ul {
    list-style: none;
}

header section nav ul li:nth-child(2), header section nav ul li:nth-child(3){
    margin-left: 10px;
}

header section nav ul li{
    display: inline-block;
    
}

header section nav ul li a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
}


section#home {
    height: 100%;
    background: url('../images/paris.jpg') center no-repeat;
    background-size: cover;
    padding: 5% 5% 20% 5%;
    text-align: center;
}

section#home h1 {
    font-size: 2.5em;
    font-weight: 100;
    color: white;
    margin-bottom: 30px;
    text-align: center;
}

section#home object {
    display: block;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
}

section#home object embed {
    display: block;
    width: 100%;
    height: 100%;
}

section#home a {
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    background: #a80303;
    font-size: 2em;
    border-radius: 5px;
}