/**********GLOBAL***********/

.container {
    width: 960px;
    margin: 0 auto;
}

body {
    background: #f0f0f0;
}

/**********HEADER***********/

header {
    width: 100%;
    background: black;
    color: white;
    font-family: 'Helvetica Neue';
    font-weight: 200;
}

header section {
    height: 70px;
    position: relative;
}

header section h1{
    position: absolute;
    top: 18px;
    left: 0;
    display: block;
    font-size: 2em;
    font-weight: 200;
    letter-spacing: 3px;
}

header section nav {
    position: absolute;
    top: 25px;
    right: 0;
}

header section nav ul {
    list-style: none;
}

header section nav ul li:nth-child(2), header section nav ul li:nth-child(3){
    margin-left: 30px;
}

header section nav ul li{
    display: inline-block;
    
}

header section nav ul li a {
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
}




/**********STORY HEADING**********/
section#storyHeader {
    width: 100%;
    background: url('../images/background-story-header.jpg') no-repeat top;
    background-size: 100%;
    padding: 60px 0 60px 0;
}

section#storyHeader section.container section{
    box-sizing: border-box;
    width: 455px;
    border-left: 5px solid #b30808;
    background: rgba(0,0,0,.7);
    color: #d4d4d4;
    padding: 20px 20px 20px 50px;
}

section#storyHeader section.container section h1 {
    font-family: 'Helvetica Neue';
    font-weight: 100;
    font-size: 2em;
    letter-spacing: 2px;
}

section#storyHeader section.container section p {
    margin-top: 30px;
    font-size: 1.1em;
    font-family: 'Helvetica Neue';
    font-weight: 200;
    letter-spacing: 1px;
}

section#storyHeader section.container section ul{
    list-style: none;
    margin-top: 30px;
}

section#storyHeader section.container section ul li {
    display: inline-block;
    width: 37px;
    height: 37px;
    text-indent: -5000px;
}

section#storyHeader section.container section ul li:nth-child(1) {
    background: url('../images/heart.png');
}

section#storyHeader section.container section ul li:nth-child(2), section#storyHeader section.container section ul li:nth-child(3) {
    background: url('../images/bell.png');
    margin-left: 10px;
}


/**********Article**********/

article.container {
    box-sizing: border-box;
    background: white;
    padding: 60px;
    font-family: 'Helvetica Neue';
}

article.container ul#numericDatas {
    float: right;
    font-size: 1.5em;
}

article.container ul#numericDatas li {
    display: block;
    margin-bottom: 20px;
}

article.container ul#numericDatas li i {
    color: #ba2e2e;
    margin: 0 10px;
}

article.container section#map {
    width: 640px;
    height: 400px;
    background: black;
    margin-bottom: 60px;
}

article.container p.article {
    color: #847b7b;
    font-size: 1.2em;
    margin-bottom: 80px;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: justify;
}


/**********ARTICLE AUTHOR**********/

article.container section#author {
    text-align: right;
    height: 115px;
}

article.container section#author img {
    display: block;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background: black;
    float: right;
    margin-top: -32px;
    margin-left: 30px;
}

article.container section#author h1 {
    font-size: 1.4em;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 10px;
}
article.container section#author p {
    vertical-align: middle;
    font-size: 1.1em;
    color: black;
    font-weight: 200;
    text-align: right;
    letter-spacing: 2px;
}

/**********Menu Steps**********/

section#steps {
    margin-top: 60px;
    height: 690px;
}

section#steps nav.navSteps {
    width: 90px;
    height: 690px;
    float: left;
    margin-right: 60px;
}

section#steps nav.navSteps ul {
    background: url('../images/line.jpg') top repeat-y;
}

section#steps nav.navSteps ul li {
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 10px;
    background: white;
    box-sizing: border-box;
}

section#steps nav.navSteps ul li:not(:first-child) {
    margin-top: 70px;
}

section#steps nav.navSteps ul li a {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding-top: 18px;
    box-sizing: border-box;
    border: solid 5px #88001f;
    color: #88001f;
    text-decoration: none;
    font-size: 1.4em;
}

section#steps nav.navSteps ul li.focused {
    background: #dfdfdf;
}

section#steps nav.navSteps ul li.focused a {
    background: #88001f;
    color: white;
}

/**********FOCUSED STEP**********/

section#steps section.step {
    display: none;
    padding-top:25px;
}

section#steps section.step.focused {
    display: block;
}

section#steps section.step h1 {
    font-size: 1.8em;
    font-family: 'Helvetica Neue';
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

section#steps section.step img {
    width: 690px;
    overflow:hidden;
    max-height: 350px;
    margin-bottom: 20px;
    text-align: center;
}

section#steps section.step p {
    font-size: 1.2em;
    text-align: justify;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

section#steps section.step nav a.next {
    float: right;
}

section#steps section.step nav a {
    color: #b10000;
    text-decoration: none;
    letter-spacing: 2px;
}


/**********FOOTER**********/
footer {
    width: 100%;
    height: 300px;
    background: black;
}
