/**********GLOBAL***********/

.container {
    width: 960px;
    margin: 0 auto;
}

body {
    font-family: "Helvetica Neue";
    background: #f0f0f0;
    letter-spacing: .1em;
    font-weight: 200;
}

/**********HEADER***********/

header {
    width: 100%;
    background: black;
    color: white;
}

header section {
    height: 70px;
    position: relative;
}

header section h1{
    position: absolute;
    top: 18px;
    left: 0;
    display: block;
    font-size: 2em;
    font-weight: 200;
    letter-spacing: 3px;
}

header section nav {
    position: absolute;
    top: 25px;
    right: 0;
}

header section nav ul {
    list-style: none;
}

header section nav ul li:nth-child(2), header section nav ul li:nth-child(3){
    margin-left: 30px;
}

header section nav ul li{
    display: inline-block;
    
}

header section nav ul li a {
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
}

/**********FORM ARTICLE**********/

.createContainer {
    box-sizing: border-box;
    width: 960px;
    margin: 0 auto;
    padding: 60px;
    background: white;
}

.createContainer form fieldset.step {
    background: url("../images/line.jpg") repeat-y top left;
    background-position: 24px 0;
    margin-bottom: 60px;
}

.createContainer form fieldset.step fieldset.innerStep {
    padding-left: 70px;
    background: none;
    margin-bottom: 50px;
    position: relative;
}

.createContainer form fieldset.step h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.createContainer form fieldset.step h1 em {
    font-style: normal;
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    border: 3px solid #9a1805;
    border-radius: 50%;
    text-align: center;
    background: white;
    letter-spacing: 0;
}

.createContainer form fieldset.step fieldset.innerStep span.curStep {
    margin: 0;
    box-sizing: border-box;
    padding-top: 2px;
    position: absolute;
    top: 50%;
    left: 5px;
    background: white;
    display: block;
    font-size: 2em;
    width: 42px;
    height: 42px;
    text-align: center;
    border: 2px solid #9a1805;
    border-radius: 50%;
}

.createContainer form fieldset.step fieldset.innerStep hr {
    height: 1px;
    margin: -0.5em 0;
    padding: 0;
    color: #d5a098;
    background-color: #d5a098;
    border: 0;
    margin-right: 180px;
    margin-bottom: 40px;
}


.createContainer form fieldset.step fieldset.innerStep label {
    display: inline-block;
    width: 250px;
    font-size: 1.5em;
    color: #a0a0a0;
    font-weight: 200;
}

.createContainer form fieldset.step fieldset.innerStep input[type=text] {
    width: 340px;
    vertical-align: middle;
    margin: 10px 0;
    font-size: 1.5em;
    border: 1px solid #d5a098;
    outline: none;
    transition:all .2s ease 0s;
    box-sizing: border-box;
    padding: 0 2px;
    line-height: 1.5;
    color: #a0a0a0;
}

.createContainer form fieldset.step fieldset.innerStep textarea {
    vertical-align: middle;
    font-size: 1.5em;
    margin: 10px 0;
    width: 340px;
    resize:none;
    height: 100px;
    border: 1px solid #d5a098;
    outline: none;
    transition:all .2s ease 0s;
    box-sizing: border-box;
    padding: 0 2px;
    line-height: 1.5;
    color: #a0a0a0;
}

.createContainer form fieldset.step fieldset.innerStep input:focus,  .createContainer form fieldset.step fieldset.innerStep textarea:focus{
    border-radius: 7px;
    border: 1px solid #9a1805;
    color: #000;
}

.createContainer form fieldset.step a.next {
    margin-top: 20px;
    display: block;
    width: 300px;
    font-size: 2em;
    line-height:2;
    color: white;
    text-decoration: none;
    background: #9a1805;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
}

.createContainer form fieldset.step p {
    text-align: center;
    font-size: 2em;
}

.createContainer form fieldset.step p a{
    display: inline-block;
    width: 300px;
    line-height:2;
    color: white;
    text-decoration: none;
    background: #9a1805;
    height: 70px;
    border-radius: 10px;
    margin: 0 10px;
    text-align: center;
}

.createContainer form fieldset.step p input[type=submit] {
    display: inline-block;
    width: 300px;
    font-size: 1em;
    font-weight: lighter;
    color: white;
    background: #9a1805;
    border:none;
    height: 70px;
    border-radius: 10px;
    margin: 0 10px;
    text-align: center;
    vertical-align: top;
}

/**********FOOTER**********/
footer {
    width: 100%;
    height: 300px;
    background: black;
}
